@using System.Configuration
@using Microsoft.AspNet.Identity
@using MvcSiteMapProvider.Web.Html



<!DOCTYPE html>
<html ng-app="fundraising" lang="en" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="google-site-verification" content="pZuC0NGOilIKA5R0AjJl8CTQUv7EptJVCiremoMxa6E" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <link rel="alternate" href="https://www.fundraising.com/" />
    @if (ViewBag.HideBaseOGTag == null || (ViewBag.HideBaseOGTag != null && !(bool)ViewBag.HideBaseOGTag))
    {
        <meta property="og:url" content="https://www.fundraising.com/" />
        <meta property="og:title" content="Fundraising.com" />
        @*<meta property="og:description" content="@ViewBag.Description" />*@
        <meta property="og:image" content="https://www.fundraising.com/Content/images/public/fundraising_logo.png" />
        <meta property="og:type" content="website" />
        <meta property="og:locale " content="en_US" />
        <meta property="og:site_name " content="Fundraising.com" />
    }

    <link href="~/Content/styles/bootstrap/bootstrap.css" rel="stylesheet" />
    @*@<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">*@
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic" rel="stylesheet" type="text/css">*@
    @*<link href="~/Content/styles/menu.css" rel="stylesheet" />*@
    @*<link href="~/Content/styles/menu-min.css" rel="stylesheet" />*@
    @*<link href="~/Content/styles/bootstrap/font-awesome.css" rel="stylesheet" />*@
    <link href="~/Content/styles/menu2.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/bundles/styles")
    @if (ViewBag.CanonicalUrl != null && !string.IsNullOrEmpty(ViewBag.CanonicalUrl))
    {
        <link rel="canonical" href="@string.Format("https://www.fundraising.com{0}", ViewBag.CanonicalUrl)" />
    }


    <!-- FACEBOOK PIXEL-->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '118042298771307');
        fbq('track', 'PageView');
    </script>

    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=118042298771307&ev=PageView&noscript=1" />
    </noscript>
    <!-- END FACEBOOK PIXEL-->
    @*<script type="text/javascript">
            function do_redirect(site) {
                window.location.href = site;
            }
        </script>*@
    <script>
        function do_redirect() {
            var x = document.getElementById("coSelected").value;
            if (x == 'USA') {
                window.location.href = '/';

            }
            if (x == 'CAN') {
                window.location.href = '/canada';

            }
        }
    </script>

</head>
<body ng-controller="PartnersController as partnersCtrl" style="font-family:Poppins;">

    <div class="container" style="padding-left:0px; padding-right:0px; width:100%">
        <span class="visible-print-block" style="font-size: xx-large">Fundraising.com</span>
        <header ng-controller="ShoppingCartController as shoppingCartCtrl" style="width:80%">

           

                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

                    <div class="row" style="background-color:black; padding-bottom:5px" ng-controller="DetectCountryController as detectCountryCtrl">
                        <div class="col-md-6" style="padding-left:45px; padding-top:5px;">
                            <div style="float:left;">
                                <div id="topphone">
                                    <i class="fas fa-phone-volume" style="color:white;font-size:15px"></i>
                                    <a ng-href="tel:+1.800.443.5353" ng-cloak ng-show="{{detectCountryCtrl.country == 0}}" style="text-decoration: none; font-weight:bold;font-size:15px;color:white">1.800.443.5353</a>
                                    <a ng-href="tel:+1-866-877-2777" ng-cloak ng-show="{{detectCountryCtrl.country == 1}}" style="text-decoration: none; font-weight:bold;font-size:15px;color:white">1.866.877.2777</a>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6" style="padding-top:1px;" id="cnSelect">
                            <div style="float:right;">

                                <select style="background-color:black; color:white; border:none" id="coSelected" onchange="do_redirect()">
                                    <option value="USA">USA</option>
                                    <option value="CAN">CAN</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="navbar-header">



                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-left:10px">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ul class="visible-xs visible-sm visible-md" style="list-style: none;margin-top:10px; margin-right:10px">
                            <li style="float:right">
                                <a ng-href="@Url.Action("Index", "ShoppingCarts")" title="Shopping Cart" style="text-decoration:none;">
                                    <span ng-cloak style="color: #087A92; background-color: white;" ng-show="shoppingCartCtrl.scope.$storage.ShoppingCart.Items.length > 0">{{shoppingCartCtrl.scope.$storage.ShoppingCart.Items.length}}</span> <i class="fas fa-shopping-bag" style="color:black"></i>
                                </a>
                            </li>

                            <li class="dropdown" style="float:right ;margin-right:10px">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-search" style="color:black"></i></a>
                                <ul class="dropdown-menu" style="left:-100px">
                                    <div ng-controller="SearchController as searchCtrl" ng-cloak>
                                        <form name="searchForm" role="search" ng-submit="searchForm.$submitted && searchForm.$valid && searchCtrl.Search()">
                                            <div class="input-group add-on">
                                                <input class="form-control" placeholder="Search" type="text" ng-model="searchCtrl.q" ng-required="true" style="border-radius:0px;">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit" style="vertical-align:top; border-radius:0px; float:left">
                                                        <i class="fas fa-search" style="color:black"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </ul>
                            </li>
                        </ul>

                        








                        <div id="imglogo" ng-controller="DetectCountryController as detectCountryCtrl" ng-show="{{detectCountryCtrl.country == 0}}" ng-cloak style="background-color:white;border:none;">
                            <a href="/">
                                <img class="navbar-brand responsive-img" ng-cloak alt="{{::partnersCtrl.Partner.Name}}" ng-src="/Content/external/partners/header/{{partnersCtrl.Partner.Attributes.FR_partner_banner_image}}" ng-show="partnersCtrl.Partner.Attributes.FR_partner_banner_image" />
                                <img class="navbar-brand responsive-img" ng-cloak alt="{{::partnersCtrl.Partner.Name}}" ng-src="/Content/external/partners/header/686.png" ng-show="!partnersCtrl.Partner.Attributes.FR_partner_banner_image" />
                            </a>
                        </div>
                        <div id="imglogo" ng-controller="DetectCountryController as detectCountryCtrl" ng-show="{{detectCountryCtrl.country == 1}}" ng-cloak style="background-color:white;border:none;">
                            <a href="/">
                                <img class="navbar-brand responsive-img" ng-cloak alt="{{::partnersCtrl.Partner.Name}}" ng-src="/Content/external/partners/header/686.png" />
                            </a>
                        </div>
                        <!--mobile device margin-->
                        <!--<div  class="hidden-* "ng-controller="DetectCountryController as detectCountryCtrl" ng-show="{{detectCountryCtrl.country == 0}}" ng-cloak style="background-color:white;border:none">
        <a href="/">
            <img class="navbar-brand responsive-img" ng-cloak style="margin-left:5%;" alt="{{::partnersCtrl.Partner.Name}}" ng-src="/Content/external/partners/header/{{partnersCtrl.Partner.Attributes.FR_partner_banner_image}}" ng-show="partnersCtrl.Partner.Attributes.FR_partner_banner_image" />
            <img class="navbar-brand responsive-img" ng-cloak style="margin-left:5%;" alt="{{::partnersCtrl.Partner.Name}}" ng-src="/Content/external/partners/header/686.png" ng-show="!partnersCtrl.Partner.Attributes.FR_partner_banner_image" />
        </a>
    </div>
    <div class="hidden-*" ng-controller="DetectCountryController as detectCountryCtrl" ng-show="{{detectCountryCtrl.country == 1}}" ng-cloak style="background-color:white;border:none">
        <a href="/">
            <img class="navbar-brand responsive-img" ng-cloak style="margin-left:5%;" alt="{{::partnersCtrl.Partner.Name}}" ng-src="/Content/external/partners/header/686.png" />
        </a>
    </div>-->
                        <!--mobile device margin-->
                    </div>
                    <!--/.navbar-header-->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:white;border:none">
                        <ul class="nav navbar-nav">
                            <li id="Hide1" class="dropdown">
                                <div>placeholder</div>
                            </li>

                            <li class="dropdown" style="margin-right:70px">
                                <a href="/" class="dropdown-toggle">HOME</a>

                            </li>

                            <li class="dropdown"  style="margin-right:70px">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">SHOP<b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="#" style="font-weight: bold; font-size: 14px; color: #232323;">Buy Online</a>
                                                </li>
                                                <li>
                                                    <a href="/katydids-fundraising-ideas" style="font-size: 12px; color: #333333;">Katydids</a>
                                                </li>
                                                <li>
                                                    <a href="/lollipop-fundraiser" style="font-size: 12px; color: #333333;">Lollipops</a>
                                                </li>
                                                <li>
                                                    <a href="/beef-jerky-fundraiser" style="font-size: 12px; color: #333333;">Jack Links Jerky</a>
                                                </li>
                                                <li>
                                                    <a href="/coffee-fundraising-ideas" style="font-size: 12px; color: #333333;">Coffee Lovers</a>
                                                </li>
                                                <li>
                                                    <a href="/products/pretzel-rods/all-pretzel-rods/Sweet-and-Salty-Pretzel-Rods" style="font-size: 12px; color: #333333;">Pretzel Rods</a>
                                                </li>
                                                <li>
                                                    <a href="/Fundraising-Products/all-scented-fundraisers" style="font-size: 12px; color: #333333;">Scented Fundraisers</a>
                                                </li>
                                                <li>
                                                    <a href="/products/gummies/all-gummies/Main-Street-Gummies" style="font-size: 12px; color: #333333;">Main Street Gummies</a>
                                                </li>
                                                <li>
                                                    <a href="/buy-online" style="color:#333333; text-decoration:underline; font-size:12px">VIEW ALL</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="#" style="font-weight: bold; font-size: 14px; color: #232323;">Brochures</a>
                                                </li>
                                                <li>
                                                    <a href="/products/cookie-dough" style="font-size: 12px; color: #333333;">Cookie Dough</a>
                                                </li>
                                                <li>
                                                    <a href="/products/order-takers/all-order-takers/earth-candle-brochures" style="font-size: 12px; color: #333333;">Candles</a>
                                                </li>
                                                <li>
                                                    <a href="/products/tumblers" style="font-size: 12px; color: #333333;">Tumblers</a>
                                                </li>
                                                <li>
                                                    <a href="/products/order-takers/all-order-takers/popcorn-brochures" style="font-size: 12px; color: #333333;">Gourmet Popcorn</a>
                                                </li>
                                                <li>
                                                    <a href="/products/order-takers/all-order-takers/Snacking-Made-Simple" style="font-size: 12px; color: #333333;">Snacking Made Simple</a>
                                                </li>
                                                <li>
                                                    <a href="/products/order-takers/all-order-takers/gabb-phone" style="font-size: 12px; color: #333333;">Gabb Phone</a>
                                                </li>
                                                <li>
                                                    <a href="/products/order-takers" style="color:#333333; text-decoration:underline; font-size:12px">VIEW ALL</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li>
                                                    <a href="#" style="font-weight: bold; font-size: 14px; color: #232323;">By Category</a>
                                                </li>
                                                <li>
                                                    <a href="/sports-fundraising-ideas" style="font-size: 12px; color: #333333;">Sports Fundraisers</a>
                                                </li>
                                                <li>
                                                    <a href="/school-fundraiser-ideas" style="font-size: 12px; color: #333333;">School Fundraisers</a>
                                                </li>
                                                <li>
                                                    <a href="/nonprofit-fundraising-ideas" style="font-size: 12px; color: #333333;">Non-profit Fundraisers</a>
                                                </li>
                                                <li>
                                                    <a href="/products/ship-to-home" style="font-size: 12px; color: #333333;">Ship To Home Programs</a>
                                                </li>
                                                <li>
                                                    <a href="/buy-online" style="font-size: 12px; color: #333333;">100% Online Fundraisers</a>
                                                </li>

                                                <li>
                                                    <a href="/all-fundraising-products" style="color:#333333; text-decoration:underline; font-size:12px">VIEW ALL</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            
                            <li class="dropdown"  style="margin-right:70px">
                                <a href="/ideas/fundraising-idea" style="color:black;">FUNDRAISING IDEAS</a>

                            </li>
                            
                            <li class="dropdown">
                                <a href="" data-toggle="modal" data-target="#kit-request-modal-New" ng-controller="GoogleAnalyticsController as googleAnalyticsCtrl" ng-click="googleAnalyticsCtrl.PopUpKitClicked();" onclick="hidedisplay()" style="color: #9eb93a; font-size: 15px" alt="Request a Free Kit" title="Request a Free Kit">
                                    <span>FREE FUNDRAISING GUIDE<i class="fas fa-download" style="margin-left:5px"></i></span>
                                </a>

                            </li>
                            @*<li class="dropdown" id="Hide1" style="margin-right:20px">
                                <div style="color:white">placeholder</div>

                            </li>*@
                            <li class="dropdown hidden-xs hidden-sm hidden-md" id="shPadding" style="float:right;">
                                <a ng-href="@Url.Action("Index", "ShoppingCarts")" title="Shopping Cart" style="text-decoration:none">
                                    <span ng-cloak style="color: #087A92; background-color: white;" ng-show="shoppingCartCtrl.scope.$storage.ShoppingCart.Items.length > 0">{{shoppingCartCtrl.scope.$storage.ShoppingCart.Items.length}}</span> <i class="fas fa-shopping-bag" style="color:black"></i>
                                </a>
                            </li>
                            <li class="dropdown  hidden-xs hidden-sm hidden-md" style="float:right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-search" style="color:black"></i></a>
                                <ul class="dropdown-menu" style="left:-70px">
                                    <div ng-controller="SearchController as searchCtrl" ng-cloak>
                                        <form name="searchForm" role="search" ng-submit="searchForm.$submitted && searchForm.$valid && searchCtrl.Search()">
                                            <div class="input-group add-on">
                                                <input class="form-control" placeholder="Search" type="text" ng-model="searchCtrl.q" ng-required="true" style="border-radius:0px;">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit" style="vertical-align:top; border-radius:0px; float:left">
                                                        <i class="fas fa-search" style="color:black"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </ul>
                            </li>


                            
                        </ul>
                    </div>
                    <!--/.navbar-collapse-->
                </nav>
                <!--/.navbar-->
                

        </header>
        <section style="margin-top:30px">
            @RenderBody()
        </section>
        <footer class="hidden-print container-fluid" style="padding-left:2%;padding-right:2%">
            <hr style="height: 2px;border-width: 0;color:#dedddd;background-color:#dedddd;" />

            <div class="row menuBottom new-homepage-font" style="margin:0">
                <!-- visible for mobiles-->
                <div class="col-sm-12 visible-xs visible-sm">
                    <span ng-click="collapseCATEGORIES = !collapseCATEGORIES" data-target="#CATEGORIES" data-toggle="collapse" class="gradient-line collapsed-col-title">CATEGORIES</span>
                    <div id="CATEGORIES" class="collapse">
                        <ul style="margin-top:5px">
                            <li><a href="/best-sellers-fundraising-ideas" style="text-decoration: none" id="topleftlinks" title="Best Sellers">Best Sellers</a></li>
                            <li><a href="/school-fundraiser-ideas" style="text-decoration: none" id="topleftlinks" title="School Ideas">School Fundraisers</a></li>
                            <li><a href="/sports-fundraising-ideas" style="text-decoration: none" id="topleftlinks" title="Sports Fundraisers">Sports Fundraisers</a></li>
                            <li><a href="/buy-online" style="text-decoration: none" id="topleftlinks" title="Buy Online Fundraisers">Buy Online Fundraisers</a></li>
                            <li><a href="/products/order-takers" style="text-decoration: none" id="topleftlinks" title="No Money Up Front Fundraisers">No Money Up Front Fundraisers</a></li>
                            <li><a href="/products/ship-to-home" style="text-decoration: none" id="topleftlinks" title="Ship to Home Fundraisers">Ship to Home Fundraisers</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 visible-xs visible-sm">
                    <span ng-click="collapseINFORMATION = !collapseINFORMATION" data-target="#INFORMATION" data-toggle="collapse" class="gradient-line collapsed-col-title">INFORMATION</span>
                    <div id="INFORMATION" class="collapse">
                        <ul style="margin-top:10px">
                            <li><a href="/about-us/our-company" style="text-decoration: none" id="topleftlinks" title="About Us">About Us</a></li>
                            <li><a href="/about-us/contact-us" style="text-decoration: none" id="topleftlinks" title="Contact Us">Contact Us</a></li>
                            <li><a href="/about-us/shipping-policies" style="text-decoration: none" id="topleftlinks" title="Shipping &amp; Deliveries">Shipping &amp; Deliveries</a></li>
                            <li><a href="/about-us/privacy-policies" style="text-decoration: none" id="topleftlinks" title="Shipping &amp; Deliveries">Privacy &amp; Policies</a></li>
                            <li>
                                <i class="fas fa-envelope-square" style="color:#cccccc"></i>
                                <a href="mailto:info@fundraising.com" id="topleftlinks" style="text-decoration: none" title="customer service">info@fundraising.com</a>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt" style="color:#cccccc"></i>
                                <a href="#" style="text-decoration: none" id="topleftlinks" title="company address">11320 State Route 9<br />#701065, Champlain, NY, 12919</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 visible-xs visible-sm">
                    <span ng-click="collapseQUICK = !collapseQUICK" data-target="#QUICK" data-toggle="collapse" class="gradient-line collapsed-col-title">QUICK LINKS</span>
                    <div id="QUICK" class="collapse">
                        <ul style="margin-top:10px">
                            <li><a href="/ideas/fundraising-idea" style="text-decoration: none" id="topleftlinks" title="Fundraising Ideas">Fundraising Ideas</a></li>
                            <li><a href="/online-fundraising/how-it-works" style="text-decoration: none" id="topleftlinks" title="Online Fundraiser">Online Fundraiser</a></li>
                            <li><a href="/about-us/testimonials" style="text-decoration: none" id="topleftlinks" title="Testimonials">Testimonials</a></li>
                            <li><a href="http://www.fundraisingmediakit.com" style="text-decoration: none" id="topleftlinks" title="Advertise With Us">Advertise With Us</a></li>
                            <li><a href="/canada" style="text-decoration: none" id="topleftlinks" title="Canadian Fundraisers">Canadian Fundraisers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 visible-xs visible-sm">
                    <span ng-click="collapseNEWSLETTER = !collapseNEWSLETTER" data-target="#NEWSLETTER" data-toggle="collapse" class="gradient-line collapsed-col-title">NEWSLETTER</span>
                    <div id="NEWSLETTER" class="collapse">
                        <ul style="margin-top:10px">
                            <li>
                                <div ng-controller="NewsletterSubscriptionController as newsletterSubscriptionCtrl">
                                    <form name="newsletterForm" ng-submit="newsletterSubscriptionCtrl.Send();">
                                        <div class="input-group">
                                            <input type="email" style="vertical-align:middle;border-radius: 0 !important;background-color:#f6f6f6" class="form-control" placeholder="Enter Your Email" aria-describedby="sizing-addon2" ng-required="true" ng-model="newsletterSubscriptionCtrl.newsletterSubscription.Email">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn" style="background-color: #f6f6f6; border-radius: 0 !important; " ng-disabled="!newsletterForm.$valid"><i class="far fa-envelope"></i></button>

                                            </div>
                                            <span class="text-info" ng-show="newsletterSubscriptionCtrl.ActionState == 1" style="color: white;">
                                                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
                                            </span>
                                            <span class="text-info" ng-show="newsletterSubscriptionCtrl.ActionState == 3" style="color: white;">
                                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style="color: white"></span>
                                            </span>
                                        </div>

                                    </form>
                                </div>
                            </li>

                            <li style="margin-top:20px">
                                <a href="https://www.facebook.com/Fundraisingdotcom" onclick="ga('send', 'social', 'Facebook', 'Visit'); " target="_blank" style="margin-right:10px">
                                    <i class="fab fa-facebook-f fa-lg"></i>
                                </a>
                                <a href="https://www.pinterest.com/frdotcom/" onclick="ga('send', 'social', 'Pinterest', 'Visit'); " target="_blank" style="margin-right:10px">
                                    <i class="fab fa-pinterest fa-lg"></i>
                                </a>
                                <a href="https://twitter.com/fundraising_com" onclick="ga('send', 'social', 'Twitter', 'Visit'); " target="_blank" style="margin-right:10px">
                                    <i class="fab fa-twitter fa-lg"></i>
                                </a>
                                <a href="https://instagram.com/fundraisingdotcom/" onclick="ga('send', 'social', 'Instagram', 'Visit'); " target="_blank" style="margin-right:10px">
                                    <i class="fab fa-instagram fa-lg"></i>
                                </a>
                                <a href="https://www.youtube.com/channel/UC8P_Ji-EqVGToFTbGIaPDXA" onclick="ga('send', 'social', 'youtube', 'Visit'); " target="_blank">
                                    <i class="fab fa-youtube fa-lg"></i>
                                </a>

                            </li>
                            <li style="margin-top:20px">
                                <img src="~/Content/external/NewHP/NEWHP2021/visa.jpg" alt="visa" style="margin-right:10px" />
                                <img src="~/Content/external/NewHP/NEWHP2021/amex.jpg"  alt="amex" style="margin-right:10px" />
                                <img src="~/Content/external/NewHP/NEWHP2021/paypal.jpg" alt="paypal" style="margin-right:10px" />
                                <img src="~/Content/external/NewHP/NEWHP2021/mastercard.jpg" alt="mastercard" />
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- visible for mobiles-->
            <div class="col-sm-3 new-homepage-font hidden-xs hidden-sm" style="color: black;">
                <a href="/" style="text-decoration: none" title="fundraisings"><img src="~/Content/external/NewHP/NEWHP2021/logo_top.jpg" alt="fundraising.com home" style="width:65%" /></a>
                <ul style="margin-top:15px">
                    <li>
                        <div class="row" style="margin:10px 0 0 0">
                            <div class="col-sm-1" style="padding-left:0;"><i class="fas fa-map-marker-alt" style="color:#cccccc"></i></div>
                            <div class="col-sm-*" style="font-size: 12px; color:black" id="topleftlinks">
                                11320 State Route 9<br />#701065, Champlain, NY, 12919
                            </div>
                        </div>
                        <div class="row" style="margin:10px 0 0 0">
                            <div class="col-sm-1" style="padding-left:0;"><i class="fas fa-envelope-square" style="color:#cccccc"></i></div>
                            <div class="col-sm-*">
                                <a href="mailto:info@fundraising.com" id="topleftlinks" style="text-decoration: none; font-size:12px; color:black">info@fundraising.com</a>
                            </div>
                        </div>
                        <div class="row" style="margin:10px 0 0 0">
                            <div class="col-sm-1" style="padding-left:0;">
                                <i class="fas fa-phone-volume" style="color:#cccccc"></i>

                            </div>
                            <div class="col-sm-*" style="font-size: 10px" ng-controller="DetectCountryController as detectCountryCtrl">
                                <a href="tel:+1.800.443.5353" ng-cloak style="text-decoration: none; color:black" ng-show="{{detectCountryCtrl.country == 0}}" id="topleftlinks">1.800.443.5353</a>
                                <a href="tel:+1-866-877-2777" ng-cloak style="text-decoration: none; color:black" ng-show="{{detectCountryCtrl.country == 1}}" id="topleftlinks">1-866-877-2777</a>
                            </div>
                        </div>

                    </li>


                </ul>
            </div>
            <div class="col-sm-2 new-homepage-font hidden-xs hidden-sm" style="color: black; font-size: 15px">
                CATEGORIES
                <ul style="margin-top:10px">
                    <li><a href="/best-sellers-fundraising-ideas" style="text-decoration: none" id="topleftlinks" title="Best Sellers">Best Sellers</a></li>
                    <li><a href="/school-fundraiser-ideas" style="text-decoration:none" id="topleftlinks" title="School Ideas">School Fundraisers</a></li>
                    <li><a href="/sports-fundraising-ideas" style="text-decoration:none" id="topleftlinks" title="School Ideas">Sports Fundraisers</a></li>
                    <li><a href="/buy-online" style="text-decoration: none" id="topleftlinks" title="Buy Online Fundraisers">Buy Online Fundraisers</a></li>
                    <li><a href="/products/order-takers/" style="text-decoration: none" id="topleftlinks" title="No Money Up Front Fundraisers">No Money Up Front Fundraisers</a></li>
                    <li><a href="/products/ship-to-home" style="text-decoration: none" id="topleftlinks" title="Ship to Home Fundraisers">Ship to Home Fundraisers</a></li>

                </ul>
            </div>
            <div class="col-sm-2 new-homepage-font hidden-xs hidden-sm" style="color: black; font-size: 15px">
                INFORMATION
                <ul style="margin-top:10px">
                    <li><a href="/about-us/our-company" style="text-decoration: none" id="topleftlinks" title="About Us">About Us</a></li>
                    <li><a href="/about-us/contact-us" style="text-decoration: none" id="topleftlinks" title="Contact Us">Contact Us</a></li>
                    <li><a href="/about-us/shipping-policies" style="text-decoration: none" id="topleftlinks" title="Shipping &amp; Deliveries">Shipping &amp; Deliveries</a></li>
                    <li><a href="/about-us/privacy-policy" style="text-decoration: none" id="topleftlinks" title="Privacy &amp; Policies">Privacy &amp; Policies</a></li>

                </ul>
            </div>
            <div class="col-sm-2 new-homepage-font hidden-xs hidden-sm" style="color: black; font-size: 15px">
                QUICK LINKS
                <ul style="margin-top:10px">
                    <li><a href="/ideas/fundraising-idea" style="text-decoration: none" id="topleftlinks" title="Fundraising Ideas">Fundraising Ideas</a></li>
                    <li><a href="/online-fundraising/how-it-works" style="text-decoration: none" id="topleftlinks" title="Online Fundraiser">Online Fundraiser</a></li>
                    <li><a href="/about-us/testimonials" style="text-decoration: none" id="topleftlinks" title="Testimonials">Testimonials</a></li>
                    <li><a href="http://www.fundraisingmediakit.com" style="text-decoration: none" id="topleftlinks" title="Advertise With Us" target="_blank">Advertise With Us</a></li>
                    <li><a href="/canada" style="text-decoration: none" id="topleftlinks" title="Canadian Fundraisers">Canadian Fundraisers</a></li>

                </ul>
            </div>
            <div class="col-sm-3 new-homepage-font hidden-xs hidden-sm" style="color:black; font-size: 15px">
                NEWSLETTER
                <ul style="margin-top:10px">
                    <li>
                        <div ng-controller="NewsletterSubscriptionController as newsletterSubscriptionCtrl">
                            <form name="newsletterForm" ng-submit="newsletterSubscriptionCtrl.Send();">
                                <div class="input-group">
                                    <input type="email" style="vertical-align:middle;border-radius: 0 !important;background-color:#f6f6f6" class="form-control" placeholder="Enter Your Email" aria-describedby="sizing-addon2" ng-required="true" ng-model="newsletterSubscriptionCtrl.newsletterSubscription.Email">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn" style="background-color: #f6f6f6; border-radius: 0 !important; " ng-disabled="!newsletterForm.$valid"><i class="far fa-envelope"></i></button>

                                    </div>
                                    <span class="text-info" ng-show="newsletterSubscriptionCtrl.ActionState == 1" style="color: white;">
                                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
                                    </span>
                                    <span class="text-info" ng-show="newsletterSubscriptionCtrl.ActionState == 3" style="color: white;">
                                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" style="color: white"></span>
                                    </span>
                                </div>

                            </form>
                        </div>
                    </li>

                    <li style="margin-top:20px">
                        <a href="https://www.facebook.com/Fundraisingdotcom" onclick="ga('send', 'social', 'Facebook', 'Visit'); " target="_blank" style="margin-right:10px">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </a>
                        <a href="https://www.pinterest.com/frdotcom/" onclick="ga('send', 'social', 'Pinterest', 'Visit'); " target="_blank" style="margin-right:10px">
                            <i class="fab fa-pinterest fa-lg"></i>
                        </a>
                        <a href="https://twitter.com/fundraising_com" onclick="ga('send', 'social', 'Twitter', 'Visit'); " target="_blank" style="margin-right:10px">
                            <i class="fab fa-twitter fa-lg"></i>
                        </a>
                        <a href="https://instagram.com/fundraisingdotcom/" onclick="ga('send', 'social', 'Instagram', 'Visit'); " target="_blank" style="margin-right:10px">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UC8P_Ji-EqVGToFTbGIaPDXA" onclick="ga('send', 'social', 'youtube', 'Visit'); " target="_blank">
                            <i class="fab fa-youtube fa-lg"></i>
                        </a>

                    </li>
                    <li style="margin-top:20px">
                        <img src="~/Content/external/NewHP/NEWHP2021/visa.jpg" alt="visa" style="margin-right:4px;" width="47px" />
                        <img src="~/Content/external/NewHP/NEWHP2021/amex.jpg" alt="amex" style="margin-right:4px;" width="47px" />
                        <img src="~/Content/external/NewHP/NEWHP2021/paypal.jpg" alt="paypal" style="margin-right:4px" width="47px" />
                        <img src="~/Content/external/NewHP/NEWHP2021/mastercard.jpg"  alt="mastercard" width="47px" />

                    </li>
                </ul>
            </div>

            <div class="row menuBottom" style="margin:0 0 100px 0">
                <div class="col-sm-12 visible-xs visible-sm">
                </div>
            </div>


            <a href="" data-toggle="modal" data-target="#representative-intro-modal" id="representative-intro-modal-shower"></a>
        </footer>
        <br />
        <div class="modal fade" id="kit-request-modal" tabindex="-1" role="dialog" aria-labelledby="kit-request-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <img alt="{{::partnersCtrl.Partner.Name}}" ng-src="/Content/external/partners/header/{{::partnersCtrl.Partner.Attributes.FR_partner_banner_image}}" />
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_KitRequestForm", 1)

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="kit-request-modal-New" tabindex="-1" role="dialog" aria-labelledby="kit-request-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="height:800px">
                <div class="modal-content">
                    <div class="modal-header" align="right">
                        <div style="float:left; margin-top:5px"><strong>Call Us <a ng-href="tel:+{{partnersCtrl.Partner.Attributes.phone_number}}" style="color:#057890">{{partnersCtrl.Partner.Attributes.phone_number}}</a></strong></div>
                        <a data-dismiss="modal" aria-label="Close" style="cursor:pointer;">
                            <span aria-hidden="true" align="right" class="text-muted">x</span>
                        </a>

                    </div>
                    <div class="modal-body" style="padding-bottom:5px">
                        @Html.Partial("_partialNewKit")
                    </div>
                </div>
            </div>
        </div>
        <!-- BDC / FR Consultant ID = 3450 -->
        
            <div ng-controller="RepresentativesController as representativeCtrl">
                <div class="modal fade" id="representative-intro-modal" tabindex="-1" role="dialog" aria-labelledby="representative-intro-modal" aria-hidden="true" ng-if="representativeCtrl.Representative.Id > 0">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="hidden-xs col-sm-4">
                                        <img ng-src="/Content/external/rep/{{::representativeCtrl.Representative.Image}}" style="width: 100%;" alt="{{::representativeCtrl.Representative.Name}}" />
                                    </div>
                                    <div class="col-xs-12 col-sm-8" ng-cloak>
                                        <div class="jumbotron">
                                            <h1>
                                                Welcome to <strong>{{::representativeCtrl.Representative.Name}}'s</strong> store
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">OK</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
       
    </div>
    <div id='papPlaceholder'></div>

    @Html.Partial(HttpContext.Current.IsDebuggingEnabled ? "_coreJSFiles" : "_coreJSFiles.min")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")




    <script type="text/javascript">
        function hidedisplay() {
            if (/Android|webOS|iPhone|iPad|BlackBerry|Windows Phone|Opera Mini|IEMobile|Mobile/i.test(navigator.userAgent))
                $zopim.livechat.hideAll();
        }
        //-->
    </script>
    <script type="text/javascript">
        if (/Android|webOS|iPhone|iPad|BlackBerry|Windows Phone|Opera Mini|IEMobile|Mobile/i.test(navigator.userAgent)) {
            $('#kit-request-modal-New').on('hidden.bs.modal', function () {

                $zopim.livechat.button.show();
            });
        };
    </script>



    @if (bool.Parse(ConfigurationManager.AppSettings["showChatProviderCode"]))
    {

        <!-- Start of efundraising Zendesk Widget script -->
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=313d3676-a112-459a-843e-2ac8e41c559f"></script>
        <!-- End of efundraising Zendesk Widget script -->


    }
    @if (bool.Parse(ConfigurationManager.AppSettings["showGoogleAnalyticsCode"]))
    {
        <!--Start of Google Analytics-->
        <script type="text/javascript">

            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments);
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-6620752-4', 'auto', { 'allowLinker': true });
            ga('require', 'ec');
            ga('set', 'dimension3', 'fundEFund');
            ga('send', 'pageview');
        </script>
        <!--End of Google Analytics-->
    }
    <!-- start web api hosts -->
    <script type="text/javascript">
   (function() {
      'use strict';
      var app = angular.module('fundraising');
      app.constant('hosts', {
         webApiCoreBaseUrl: '@ConfigurationManager.AppSettings["core.webapi.host"]',
         webApiFundraisingBaseUrl: '@ConfigurationManager.AppSettings["fundraising.webapi.host"]',
         PaypalLogin: '@ConfigurationManager.AppSettings["Paypal.Login"]',
         PaypalReturnUrl: '@ConfigurationManager.AppSettings["Paypal.ReturnUrl"]',
         PaypalUrl: '@ConfigurationManager.AppSettings["Paypal.Url"]'
      });
   })();
    </script>
    <!-- end web api hosts -->
    @RenderSection("scripts", false)

    <script type="text/javascript">
   $(document).ready(function() {
      if (window.location.hash.indexOf("showkitwindow") > -1) {
         $("#kit-request-modal-New").modal("show");
      }

      if ("True" === "@ViewBag.ShowRepresentativeIntroPopup") {
         $('#representative-intro-modal').modal('show');
      }

       if ($("#mobile-fr-main-banner").length > 0) {
           if ($("#mobile-fr-main-banner").is(":visible")) {
               $("#mobile-fr-main-banner").slick({
                   dots: false,
                   infinite: true,
                   speed: 500,
                   fade: true,
                   cssEase: 'linear',
                   autoplay: true,
                   autoplaySpeed: 6000,
                   arrows: false
               });
           }
       }

      $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
         // Avoid following the href location when clicking
         event.preventDefault();
         // Avoid having the menu to close when clicking
         event.stopPropagation();
         // If a menu is already open we close it
         //$('ul.dropdown-menu [data-toggle=dropdown]').parent().removeClass('open');
         // opening the one you clicked on
         $(this).parent().addClass('open');

         var menu = $(this).parent().find("ul");
         var menupos = menu.offset();

         if ((menupos.left + menu.width()) + 30 > $(window).width()) {
            var newpos = - menu.width();
         } else {
            var newpos = $(this).parent().width();
         }
         menu-min.css({ left: newpos });

      });
      // PAP SCRIPT START
      (function (d, t) {
         var script = d.createElement(t); script.id = 'pap_x2s6df8d'; script.async = true;
         script.src = 'https://fundraising.postaffiliatepro.com/scripts/trackjs.js';
         script.onload = script.onreadystatechange = function () {
            try {
               var rs = this.readyState;
               if (rs && (rs != 'complete') && (rs != 'loaded')) return;
               PostAffTracker.setAccountId('default1');
               PostAffTracker.track();
            } catch (e) {
               console.warn(e);
            }
         }
         var placeholder = document.getElementById('papPlaceholder');
         placeholder.parentNode.insertBefore(script, placeholder);
         placeholder.parentNode.removeChild(placeholder);
      })(document, 'script');
      // PAP SCRIPT END
   });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#search").hide();
        });

        function toggleDiv(divId) {

            $("#" + divId).toggle();
        }

    </script>

    <script type="text/javascript">

        $(function () {
            $(".activeBtn").click(function () {
                // remove classes from all
                $(".activeBtn").removeClass("active");
                // add class to the one we clicked
                $(this).addClass("active");
            });
        });
    </script>

    <script>
        var url = location.href;
        if (url.indexOf("canada") > -1) {
            let element = document.getElementById('coSelected');
            element.value = 'CAN';
        }
    </script>





</body>
</html>
