@using GA.BDC.Web.MGP.Helpers.Extensions
@{
    ViewBag.Title = "Campaign Report";
    Layout = "~/Views/Shared/_campaignmanager.cshtml";
    var partnerBranding = ViewBag.Partner as GA.BDC.Web.MGP.Models.Branding.Partner;
    var eventBranding = ViewBag.Event as GA.BDC.Web.MGP.Models.Branding.Event;
    var hasStatement = Convert.ToBoolean(ViewBag.HasStatement);
    var profitCheckUrl = new UrlHelper(Request.RequestContext).Action("GetSAPProfitCheckReport", "CampaignManager", new { participantId = eventBranding.ParticipantId });
}
<div id="report" ng-controller="campaignManagerController">
    <div class="row" ng-init="participantId = @eventBranding.ParticipantId; searchType='all'; findCampaignReport(@(partnerBranding.HideProfit ? "true" : "false"));">
        <div class="col-sm-12">
            <h1 id="title">@partnerBranding.GroupDisplay.ToLower().FirstLetterUpper() Report</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-2">
                        <select id="dateFilter" class="form-control" name="dateFilter" ng-model="searchType">
                            <option value="all">All</option>
                            <option value="today">Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="lastWeek">Last week</option>
                            <option value="lastMonth">Last month</option>
                            <option value="last7Days">Last 7 days</option>
                            <option value="last30Days">Last 30 days</option>
                            <option value="custom">Custom</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="dpd1" ng-model="from" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="dpd2" ng-model="to" />
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-success" ng-click="findCampaignReport(@(partnerBranding.HideProfit ? "true" : "false"))">Filter</button>
                    </div>
                    @if (!partnerBranding.HideCheckReport)
                    {
                        <div id="profit" class="col-sm-5 @(hasStatement ? string.Empty : "hide")">
                            <div class="row">
                                <div class="col-sm-8 caption">Profit Statement:</div>
                                <div class="col-sm-4 check">
                                    <a href="@profitCheckUrl">Click to view</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-sm-6">
            <div class="jumbotron">
                <h1>{{totalAmount | currency}} <small>sold</small></h1>
            </div>
        </div>
        <div class="col-sm-6 @(partnerBranding.HideProfit ? "hidden" : string.Empty)">
            <div class="jumbotron">
                <h1>{{totalProfit | currency}} <small>profit</small></h1>
            </div>
        </div>
    </div>
    <div class="row" ng-show="executingAction" ng-cloak>
        <div class="col-md-12 text-center">
            <img src="/Content/images/public/content/loading.gif" alt="Loading" />
        </div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-sm-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a href="#grid" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;Grid</a></li>
                <li><a href="#chart" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;&nbsp;Chart</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="grid">
                    <br />
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Member</th>
                                <th>Emails Sent</th>
                                <th>Items Sold</th>
                                <th class="text-center">Amount Sold</th>
                                <th class="text-center  @(partnerBranding.HideProfit ? "hidden" : string.Empty)">Profit</th>
                                <th class="text-center">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in data">
                                <td>{{row.MemberName}}</td>
                                <td>{{row.EmailsSent}}</td>
                                <td>{{row.ItemsSold}}</td>
                                <td class="text-center">{{row.AmountSold | currency}}</td>
                                <td class="text-center  @(partnerBranding.HideProfit ? "hidden" : string.Empty)">{{row.Profit | currency}}</td>
                                <td class="text-center"><a href="#" ng-click="findCampaignReportDetail(row.MemberName);"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Details</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="chart">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <center>
                                <div id="chartContainer"></div>            
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h4 class="modal-title">Details for {{memberName}}</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-condensed table-hover table-striped footer-no-border">
                <thead>
                    <tr>
                        <th>Supporter</th>
                        <th>Sale Date</th>
                        <th>Item Description</th>
                        <th>Item Type</th>
                        <th class="text-center">Item Quantity</th>
                        <th class="text-center">Amount</th>    
                        <th class="text-center  @(partnerBranding.HideProfit ? "hidden" : string.Empty)">Profit</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in items">
                        <td>{{row.SupporterName}}</td>
                        <td>{{row.SaleDate}}</td>
                        <td>{{row.ProductDescription}}</td>
                        <td>{{row.ProductTypeDescription}}</td>
                        <td class="text-center">{{row.ItemsSold}}</td>
                        <td class="text-center">{{row.AmountSold | currency}}</td>    
                        <td class="text-center  @(partnerBranding.HideProfit ? "hidden" : string.Empty)">{{row.Profit | currency}}</td>    
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total:</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="text-center">{{totalAmount | currency}}</td>    
                        <td class="text-center  @(partnerBranding.HideProfit ? "hidden" : string.Empty)">{{totalProfit | currency}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Close</button>
        </div>
</script>
@section scripts
{
    <script type="text/javascript" src="/Scripts/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="/Content/datepicker.css" type="text/css" />
    <script src="/Scripts/highcharts/highcharts.js"></script>
    <script type="text/javascript">
        var from = $('#dpd1').datepicker({
            format: 'yyyy-mm-dd',
        }).on('changeDate', function (ev) {
            angular.element("#dpd1").scope().from = ev.date.getFullYear() + "-" + (ev.date.getMonth() + 1) + "-" + ev.date.getDate();
            if (ev.date.valueOf() > to.date.valueOf()) {
                var newDate = new Date(ev.date);
                newDate.setDate(newDate.getDate() + 1);
                to.setValue(newDate);
            }
            from.hide();
            $('#dpd2')[0].focus();
        }).data('datepicker');
        var to = $('#dpd2').datepicker({
            format: 'yyyy-mm-dd',
            onRender: function (date) {
                return date.valueOf() <= from.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            angular.element("#dpd2").scope().to = ev.date.getFullYear() + "-" + (ev.date.getMonth() + 1) + "-" + ev.date.getDate();
            to.hide();
        }).data('datepicker');
        $("#dpd1, #dpd2").click(function () {
            angular.element("#dateFilter").scope().searchType = 'custom';
        });
    </script>
}
