@using System.Web.Script.Serialization
@using DotNetOpenAuth.OpenId.Extensions.AttributeExchange
@using GA.BDC.Web.MGP.Models.Branding
@using Event = GA.BDC.Web.MGP.Models.Branding.Event
@{
   var userBranding = ViewBag.User as User;
   var eventBranding = ViewBag.Event as Event;
   ViewBag.Title = string.Concat("Campaign Manager - Edit Site: ", eventBranding.Name);
   Layout = "~/Views/Shared/_campaignmanager.cshtml";
   var serializedModel = new JavaScriptSerializer().Serialize(Model);
   var partnerBranding = ViewBag.Partner as Partner;
}
@section scripts
{
   <style>
      @@media (min-width: 600px) {
         .cropArea {
            overflow: hidden;
            width: 500px;
            height: 500px;
         }
      }
      @@media (max-width: 599px) {
         .cropArea {
            overflow: hidden;
            width: 350px;
            height: 350px;
         }
      }
   </style>
}
@model GA.BDC.Web.MGP.Models.Views.Personalization
<div id="personalizePage" ng-app="mgp" ng-controller="campaignManagerController" ng-init="eventId = @eventBranding.Id ; participantId = @eventBranding.ParticipantId; registerView = @serializedModel">
   <div class="row">
      <div class="col-sm-12">
         <h1>Update a fundraising campaign</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-8">
         <div class="panel panel-success">
            <form name="editPageForm" id="editPageForm">
               <input type="hidden" name="personalizationId" ng-model="registerView.Id" required />
               <input type="hidden" name="userType" ng-model="registerView.UserType" ng-value="registerView.UserType = @((int)userBranding.UserTypeInfo)" />
               <input type="hidden" name="registerView.personalizePageName" ng-model="registerView.personalizePageName" ng-value="registerView.personalizePageName = 'Page'" />
               <div class="panel-body">
                  <div class="row">
                     <div class="col-sm-12">
                        <label>Web Address</label>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-3">
                        <input type="text" class="form-control" name="eventRedirect" ng-model="registerView.Redirect" required />
                     </div>
                     <div class="col-sm-3">
                        <button type="button" class="btn btn-default" ng-click="checkEventRedirectAvailability()" ng-hide="executingAction">Check availability</button>
                     </div>
                     <div class="col-sm-6" ng-cloak>
                        @if (userBranding.IsSponsor)
                        {
                           <span class="text-info">@string.Concat(Request.Url.Host, "/"){{registerView.Redirect}}</span>
                        }
                        else if (userBranding.IsParticipant)
                        {
                           <span class="text-info">@string.Concat(Request.Url.Host, "/", ViewBag.SponsorRedirect, "/"){{registerView.Redirect}}</span>
                        }
                     </div>
                  </div>
                  <div class="row" ng-cloak>
                     <div class="col-sm-12 text-success" ng-show="!executingAction && isAvailable == 2">The web address is available.</div>
                     <div class="col-sm-12 text-warning" ng-show="!executingAction && isAvailable == 1">The web address is not available</div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">&nbsp;</div>
                  </div>
                  <div class="row hidden-xs">
                     <div class="col-sm-12">
                        <label>Message</label>
                     </div>
                  </div>
                  <div class="row hidden-xs">
                     <div class="col-sm-12">
                        <span class="small">
                           This is the welcome message that will appear at the top of your fundraising page. You may want to include a brief description of your @partnerBranding.GroupDisplay.ToLower() and the reason for your fundraising campaign. (MAX 2000 CHARACTERS)
                        </span>
                     </div>
                  </div>
                  <div class="row hidden-xs">
                     <div class="col-sm-12">
                        <ng-wig ng-model="registerView.Body" required name="message"></ng-wig>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">&nbsp;</div>
                  </div>
                  <div class="row @(partnerBranding.HideGoal ? "hidden" : "")">
                     <div class="col-sm-12">
                        <label>Goal</label>
                     </div>
                  </div>
                  <div class="row @(partnerBranding.HideGoal ? "hidden" : "")">
                     <div class="col-sm-4">
                        <input type="number" class="form-control input-lg" name="goal" ng-model="registerView.Goal" required />
                     </div>
                     <div class="col-sm-8">
                        <span class="small">
                           The goal is the amount of money your group needs to raise. Setting a goal will motivate supporters to give and allows them to assess the impact of their contribution.
                        </span>
                     </div>
                  </div>
                  <br />
                  <div class="row">
                     <div class="col-sm-12">
                        <label>Picture</label>
                     </div>
                     <div class="col-sm-12">
                        <span class="small">
                           You have more chances of reaching your Goal when you upload a picture of your @partnerBranding.GroupDisplay.ToLower()
                        </span>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 text-center" ng-init="registerView.CroppedImage=''">
                        <img ng-src="{{registerView.Image ? registerView.CroppedImage : registerView.PersonalizationImages[0].ImageURL}}" class="img-rounded"/>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12 text-center">
                        <br />
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadPictureModal" ng-click="resultFailed = false; success = false;"><span class="glyphicon glyphicon-picture"></span> Upload Picture</button> 
                        <button type="button" class="btn btn-default btn-sm" ng-show="!registerView.PersonalizationImages[0].IsGalleryImage" ng-click="deletePersonalizationImage(registerView.PersonalizationImages[0].ImageId); resultFailed = false; success = false;"><span class="glyphicon glyphicon-floppy-remove"></span> Remove Picture</button> <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#galleryModal" ng-click="getGalleryImages(); resultFailed = false; success = false;"><span class="glyphicon glyphicon-th-large"></span> Select Picture from our Gallery</button>
                     </div>
                  </div>
               </div>
               <div class="modal fade text-left" id="uploadPictureModal" tabindex="-1" role="dialog" aria-labelledby="uploadPictureModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-xs-12 text-center">
                                 <button class="btn btn-lg btn-default" ngf-select ng-model="registerView.Image" accept="image/*">
                                   <span class="glyphicon glyphicon glyphicon-picture"></span> Select Picture
                                 </button>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-xs-12 text-center">
                                 <div ngf-drop ngf-capture="'camera'" ng-model="registerView.Image" ngf-pattern="image/*" class="cropArea"  ng-show="registerView.Image">
                                    <img-crop image="registerView.Image  | ngfDataUrl" result-image="registerView.CroppedImage" area-type="square" area-min-size="320" result-image-size="320" result-image-format="image/png" result-image-quality="0.7"></img-crop>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-xs-12 text-center" ng-show="registerView.Image">
                                 <small class="text-info"><strong>Final Picture</strong></small>
                                 <br/>
                                 <img ng-src="{{registerView.CroppedImage}}"/>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="registerView.Image">Accept</button>
                           <button type="button" class="btn btn-default" ng-click="registerView.Image = undefined;" data-dismiss="modal">Cancel</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal fade text-left" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="galleryModalLabel">Choose a picture</h4>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-sm-2 text-center image-item" ng-repeat="img in galleryImages|filter:{CategoryName:selectedCategory}">
                                 <a href="#" class="" ng-click="selectImageFromGallery(img)" onclick="$('#galleryModal').modal('hide')">
                                    <img ng-src="{{img.FullFilePath}}" class="img-responsive img-rounded img-thumbnail" /><br />
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="panel-body">
                  <div class="row" ng-hide="executingAction" ng-cloak>
                     <div class="col-sm-12">
                        <div class="form-group">
                           <button type="button" ng-click="personalizePage()" class="btn btn-success form-control">Save changes</button>
                        </div>
                     </div>
                  </div>
                  <div class="row" ng-show="executingAction" ng-cloak>
                     <div class="col-sm-12">
                        <div class="form-group">
                           <span class="text-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Sending your information...</span>
                        </div>
                     </div>
                  </div>
                  <div class="row" ng-show="success" ng-cloak>
                     <div class="col-sm-12">
                        <div class="form-group">
                           <span class="text-success">{{responseText}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="row" ng-show="resultFailed" ng-cloak>
                     <div class="col-sm-12">
                        <div class="form-group">
                           <span class="text-danger">{{responseText}}</span>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>

      <div class="col-sm-4 text-center visible-md visible-lg">
         <a href="#">
            <img src="/Content/images/public/content/@(!string.IsNullOrEmpty(partnerBranding.DemoPageImage) ? partnerBranding.DemoPageImage : "groupPagePreview.jpg")" ng-click="pagePreview()" style="width: 100%" alt="Preview your Page" />
         </a>
         <a href="#" ng-click="pagePreview()">
            <span class="text-success">
               <strong>
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  Click here to preview your page
               </strong>
            </span>
         </a>
      </div>

   </div>
</div>
