@using System.Web.Script.Serialization
@using GA.BDC.Web.MGP.Helpers.Extensions
@using GA.BDC.Web.MGP.Models.Views
@model RegistrationParticipant
@{
    var publicEventBranding = ViewBag.PublicEvent as GA.BDC.Web.MGP.Models.Branding.PublicEvent;
    var partnerBranding = ViewBag.Partner as GA.BDC.Web.MGP.Models.Branding.Partner;
    ViewBag.Title = "Participant Registration";
    ViewBag.Description = "My.Fundraising.com : Register your Fundraising Online Campaign";
    ViewBag.Keywords = "online fundraising register, sign up EfundraisingOnline.com, start your online fundraising campaign, begin fundraising, register online fundraising campaign, start fundraising campaign online, register, EfundraisingOnline.com, My.Fundraising.com";
    Layout = "~/Views/Shared/_public2.cshtml";
    ViewBag.CanonicalUrl = Url.Action("ParticipantRegister", "Home");
    var serializedModel = new JavaScriptSerializer().Serialize(Model);
}
<div id="participantRegistration">
    <div class="row">
        <div class="col-sm-12">
            <h1>Join the @Html.ActionLink(publicEventBranding.Name, "Index", "Group", new { eventId = publicEventBranding.Id }, new { target = "_blank" }) online @partnerBranding.GroupDisplay.ToLower()</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <small>
                Register now and participate by creating your personal page and share it with friends and family.<br />
               <strong>@partnerBranding.GroupDisplay.ToLower().FirstLetterUpper() page: @Html.ActionLink(string.Concat("http://", Request.Url.Host, "/", publicEventBranding.Redirect), "Index", "Group", new { eventId = publicEventBranding.Id }, new { target = "_blank" })</strong>
            </small>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6" ng-controller="loginController" ng-init="eventId = @publicEventBranding.Id; registerView = @serializedModel">
            <div class="panel panel-success">
                <div class="panel-body">                    
                    <form role="form" ng-submit="participantRegister()" id="participantRegistrationForm" name="participantRegistrationForm">
                        <div class="row">
                            <div class="col-sm-12">
                               <div class="form-group">
                                  <label for="firstName"class="sr-only">First Name</label>
                                  <input type="text" id="firstName" name="firstName" class="form-control input-lg" required ng-model="registerView.FirstName" placeholder="First Name"/>
                               </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                               <div class="form-group">
                                  <label for="lastName" class="sr-only">Last Name</label>
                                  <input type="text" id="lastName" name="lastName" class="form-control input-lg" required ng-model="registerView.LastName" placeholder="Last Name"/>
                               </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                               <div class="form-group">
                                  <label for="email" class="sr-only">Email Address</label>
                                  <input type="email" id="email" name="email" class="form-control input-lg" required ng-model="registerView.Email" placeholder="Email Address"/>
                               </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                               <div class="form-group">
                                  <label for="password" class="sr-only">Password</label>
                                  <div class="input-group">
                                     <input type="password" id="password" name="password" placeholder="Password" class="form-control input-lg" required ng-model="registerView.Password1"/>
                                     <div class="input-group-addon">
                                        <a tabindex="-1" href="" ng-click="showPasswordHelp = true;"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                        </div>
                        <div class="row" ng-show="showPasswordHelp" ng-cloak>
                            <div class="col-xs-12">
                                <span class="text-info">Your password will allow you to manage your online fundraising campaign, so choose one that you will be able to remember. It must be at least 5 characters in length.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label style="font-weight: normal">
                                        <input type="checkbox" id="terms" name="terms" value="1" required ng-model="registerView.Terms" />
                                        I have read and agree to the @Html.ActionLink("terms of service", "PrivacyPolicy", "Home", null, new { target = "_blank" })
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="executingAction" ng-cloak>
                            <div class="col-sm-12">
                                <span class="text-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Sending your information...</span>
                            </div>
                        </div>
                        <div class="row" ng-show="resultFailed" ng-cloak>
                            <div class="col-sm-12">
                                <span class="text-danger">{{responseText}}</span>
                            </div>
                        </div>
                       <div class="row" ng-hide="executingAction" ng-cloak>
                          <div class="col-sm-12">
                             <div class="form-group">
                                <button type="submit" class="btn btn-odnoklassniki btn-lg form-control"><span class="glyphicon glyphicon-envelope"></span> Join the campaign</button>
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-sm-12">
                             Already have an account? <a href="@Url.Action("ParticipantJoin", "Home", new { eventId = publicEventBranding.Id, username = Model.Email })"><strong>CLICK HERE</strong></a>
                          </div>
                       </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6 @(partnerBranding.CustomParticipantRegisterMessage ? "hidden" : string.Empty)" ng-controller="campaignManagerController">
            @*<div class="row @(partnerBranding.PrizeProgram ? string.Empty : "hidden")">
                <div class="col-sm-12 visible-md visible-lg text-center">
                    <img src="~/Content/images/common/dinnerandmovie.gif" class="img-responsive"/>
                </div>
            </div>*@
            <div class="row">
                <div class="col-sm-12 text-primary text-justify" style="font-size:20px">
                    Another way to participate is to simply shop on the <strong>@publicEventBranding.Name</strong> fundraising store. We will receive 40% of all sales.
                </div>
            </div>
            <div class="row" ng-show="executingAction" ng-cloak>
                <div class="col-sm-12 text-center">
                    <span class="text-info"><strong>We are sending you to the Store...</strong></span>
                </div>
            </div>
            <div class="row" ng-show="executingAction" ng-cloak>
                <div class="col-sm-12 text-center">
                    <img src="/Content/images/public/content/loading.gif" />
                </div>
            </div>
            <div class="row" ng-hide="executingAction" ng-cloak>
                <div class="col-sm-12 text-center">
                    <br />
                    <button type="button" ng-click="defaultRedirectToStore(@publicEventBranding.Id, 0)" class="btn btn-bitbucket btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span> Please support me by shopping</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tip").tooltip({});
        });
    </script>
}

