@{
    ViewBag.Title = "Site Map";
    Layout = "~/Views/Shared/_public.cshtml";
}
<div id="siteMap">
    <div class="row">
        <div class="col-md-12">
            <h1>Site Map</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    @Html.ActionLink("Home","Index","Home")
                </li>
                <li>
                    @Html.ActionLink("Register","Register","Home")
                </li>
                <li>
                    @Html.ActionLink("How it Works","HowItWorks","Home")
                </li>
                <li>
                    @Html.ActionLink("FAQ","FAQ","Home")
                </li>
                <li>
                    @Html.ActionLink("Find a Group","FindAGroup","Home")
                </li>
                <li>
                    @Html.ActionLink("Incentives","Incentives","Home")
                </li>
                <li>
                    @Html.ActionLink("Contact Us","ContactUs","Home")
                </li>
                <li>
                    @Html.ActionLink("Privacy Policy","PrivacyPolicy","Home")
                </li>
            </ul>
        </div>
    </div>
</div>
