@model QSP_Website.Controllers.HomeController.CustomerInfo
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>QSP.com - Homepage</title>*@
    <title>@ViewBag.PageTitle</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    @*Styles.Render("~/Content/Site.css")*@
        @Scripts.Render("~/bundles/modernizr")

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: white">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="~/Content/images/homepage/qsp.png" alt="qsp logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-1 justify-content-center" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#staticBackdrop">FREE GUIDE</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container-fluid body-content">
        @RenderBody()

    </div>
    <footer style="background-color:#222222; color:white; height:30px; margin-top:2%">
        <p>&copy; @DateTime.Now.Year - QSP.com</p>
    </footer>



    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">GET YOUR FREE GUIDE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "empform" }))
                    {

                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()


                        @*@Html.HiddenFor(model => model.EmpID)*@
                        <label style="text-transform:uppercase; color:#127e93; font-size:16px">Information</label><br /><br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName, "First Name")
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GroupName, "Group Name")
                            @Html.TextBoxFor(model => model.GroupName, new { @class = "form-control", @required = "required" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, "Email")
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @required = "required" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, "Phone")
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @type = "phone", @required = "required" })
                        </div>

                        @*<input type="submit" class="btn btn-primary " value="Submit" />*@

                        <div class="modal-footer" style="margin-top:10px">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            @*<button type="button" class="btn btn-primary">Submit</button>*@
                            <input type="submit" class="btn btn-primary " value="Submit" />
                        </div>

                    }




                    @*<form role="form" >*@
                    @*<div class="modal-body" style="font-size:14px">*@
                    @*<div class="form-group">
            <label style="text-transform:uppercase; color:#127e93; font-size:16px">Information</label><br />
           </div>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" style="width:70%" class="form-control" id="name" placeholder="i.e. John Smith" ng-model="productsCtrl.OrderBrochure.Name" ng-required="true">
        </div>
        <div class="form-group">
            <label for="name">Group Name</label>
            <input type="text" style="width:70%" class="form-control" id="groupname" placeholder="i.e. Mavericks Junior Football" ng-model="productsCtrl.OrderBrochure.GroupName" ng-required="true">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="email" style="width:70%" class="form-control" id="email" placeholder="example@example.com" ng-model="productsCtrl.OrderBrochure.Email" ng-required="true">
        </div>
        <div class="form-group">
            <label for="name">Phone</label>
            <input type="tel" style="width:70%" class="form-control" pattern="^\d{3}-\d{3}-\d{4}$" id="phone" placeholder="i.e. xxx-xxx-xxxx" ng-model="productsCtrl.OrderBrochure.Phone" ng-required="true">
        </div>*@
                    @*<div class="form-group"><br />
            <label style="text-transform:uppercase; color:#127e93; font-size:16px">Where Will We Send Your Free Guide?</label><br />
            <input type="text" style="width:50%" class="form-control" placeholder="i.e. 33 Main St" id="address" ng-required="true" ng-model="productsCtrl.OrderBrochure.Address" maxlength="100">
            <br />
            <div class="row">
                <div class="col-md-4">
                    <input type="text" style="width:100%; margin-bottom:10px" class="form-control" placeholder="City" id="city" ng-required="true" ng-model="productsCtrl.OrderBrochure.City" maxlength="50">
                </div>
                <div class="col-md-4">
                    <select class="form-control" style="width:100%; margin-right:15px; margin-bottom:10px" id="state" name="State" ng-model="productsCtrl.OrderBrochure.State" ng-required="true">
                        <option value="" ng-selected="true">Select State</option>
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="AZ">Arizona</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DC">District of Columbia</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="IA">Iowa</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MD">Maryland</option>
                        <option value="ME">Maine</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MO">Missouri</option>
                        <option value="MS">Mississippi</option>
                        <option value="MT">Montana</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="NE">Nebraska</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NV">Nevada</option>
                        <option value="NY">New York</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VA">Virginia</option>
                        <option value="VI">Virgin Islands</option>
                        <option value="VT">Vermont</option>
                        <option value="WA">Washington</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WV">West Virginia</option>
                        <option value="WY">Wyoming</option>


                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text"  class="form-control" pattern="[0-9.]+" placeholder="Zip Code" id="zipcode" ng-required="true" ng-model="productsCtrl.OrderBrochure.Zipcode" maxlength="10">
                </div>
            </div>
        </div>*@

                    @*</div>*@
                    @*</form>*@
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                    <input type="submit" class="btn btn-primary " value="Submit" />
                </div>*@
            </div>
        </div>
    </div>





    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
