@{
    ViewBag.Title = "Fundraising resource centre, the secrets of Fundraising - Fundraising.com";
    ViewBag.Description = "Fundraising.com can help you reach your Fundraising Goals with easy to use Fundraising tools and trained fundraising specialists not to mention our Fundraising Products.";
    ViewBag.Keywords = "Fundraising Secrets, Fundraising Goals, Fundraising Tools";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("FundraisingResources", "Resources");
}
<div style="margin-top:125px">
   <h1>Fundraising Resources</h1>
   <div class="row">
      <div class="col-sm-12">
         Achieve your goals quickly and easily with tools and resources from Fundraising.com. We've helped thousands of groups reach new heights of fundraising success, and now we're helping you! @Html.ActionLink("Contact Us", "OurCompany", "AboutUS")!
         <br /><br />

         <h3>Tools &amp; Tips</h3>
         @Html.ActionLink("Easy Fundraisers", "EasyFundraisers", "Ideas", "Ideas", new { title = "Easy Fundraisers" })<br />
         @Html.ActionLink("Healthy Fundraisers", "HealthyFundraisers", "Ideas", "Ideas", new { title = "Healthy Fundraisers" })<br />
         @Html.ActionLink("Unique Fundraising Programs", "UniqueFundraisers", "Ideas", "Ideas", new { title = "Unique Fundraising Programs" })<br />
         @Html.ActionLink("Fundraiser Events", "Events", "Ideas", "Ideas", new { title = "Fundraiser Events" })<br />
         @Html.ActionLink("Fundraising Tips", "Tips", "Ideas", "Ideas", new { title = "Fundraising Tips" })<br />
         @Html.ActionLink("Fundraising Ideas", "Ideas", "Ideas", "Ideas", new { title = "Fundraising Ideas" })<br />
         @Html.ActionLink("Fundraising Checklist", "Checklist", "Resources", "Resources", new { title = "Fundraising Checklist" })<br />
         @Html.ActionLink("Fundraising 101", "Fundraising101", "Resources", "Resources", new { title = "Fundraising 101" })<br />
         <!-- undone: jason create form page @Html.ActionLink("Volunteer Organization Form", "Tips", "Ideas", "Ideas", new { title = "Fundraising Tips" })Volunteer Organization Form<br /> -->
         @Html.ActionLink("Fundraising Activities", "Activities", "Resources", "Resources", new { title = "Fundraising Activities" })<br />


         <h3>Fundraising Product FAQ's</h3>
         <a href="/products/chocolate" title="Candy Bars fundraiser">Candy Bars</a><br />
         <a href="/products/lollipops" title="lollipops fundraiser">Lollipops</a><br />
         <a href="/products/cookie-dough" title="Cookie Dough fundraiser">Cookie Dough</a>

         <h3>Fundraising By Groups</h3>
         @Html.ActionLink("Athletic League", "League", "Resources", "Resources", new { title = "Athletic League fundraising ideas" })<br />
         @Html.ActionLink("Boy Scouts", "BoyScout", "Resources", "Resources", new { title = "Boy Scouts fundraising ideas" })<br />
         @Html.ActionLink("Girl Scouts", "GirlScout", "Resources", "Resources", new { title = "Girl Scouts fundraising ideas" })<br />
         @Html.ActionLink("School Fundraising Ideas", "Schools", "Resources", null, new { title = "school fundraising ideas" })<br />
         @Html.ActionLink("Cheerleading Fundraisers", "CheerFundraising", "Resources", null, new { title = "Cheerleading fundraising ideas" })<br />
         @Html.ActionLink("Church Fundraising Ideas", "ChurchFundraising101", "Resources", null, new { title = "Church fundraising ideas" })<br />
         @Html.ActionLink("Non-Profit", "NonProfitFundraising", "Ideas", "Ideas", new { title = "Non-Profit fundraising ideas" })<br />
         @Html.ActionLink("Charity", "Charity", "Resources", "Resources", new { title = "Charity fundraising ideas" })<br />
         @Html.ActionLink("Sports", "Sports", "Resources", "Resources", new { title = "Sports fundraising ideas" })

         <h3>Deals &amp; Promos</h3>
         @Html.ActionLink("Coupons", "Coupon", "Resources", "Resources", new { title = "Coupons" })
      </div>
   </div>
</div>